body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: var(--primary-text-color);
}

.link {
    text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
}